.accuracy {
	width: 700px;
	height: 18px;
	display: flex;
	&-label {
		span {
			margin: 0 20px;
			font-size: 18px;
			font-weight: 500;
			font-family: 'Courier New', Courier, monospace;
		}
	}
	&-wrapper {
		display: flex;
		align-items: center;
		margin: 40px 0;
	}
	&-right {
		background-color: #f6ceff;
		text-align: right;
		font-weight: bolder;
	}
	&-wrong {
		background-color: #6ad7ff;
		text-align: left;
		font-weight: bolder;
	}
	&-name {
		display: flex;
		justify-content: center;
		span {
			font-size: 30px;
			font-weight: 600;
		}
	}

	&-sum {
		display: inline-block;
		margin-left: 10px;
	}
}
.rate {
	position: absolute;
}

.history-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.no-rate {
	background-color: coral;
}
