$hover-color: rgba(36, 223, 230, 0.767);
@import '../css/cyberpunk.scss';
@mixin item-hover {
	//color: $hover-color;
	//background: linear-gradient(45deg, transparent 5%, #ff013c 5%);
	color: white;
	font-weight: bold;
	font-size: 17px;
}
.contain-menu {
	background-color: rgba(63, 63, 63, 0.506);
	position: fixed;
	height: 100%;
	width: 230px;
}
.menu {
	max-height: 600px;
	transition: max-height 0.3s;
	color: rgb(255, 255, 255);
	font-weight: bold;
	top: 20%;
	-webkit-user-select: none;
	user-select: none;
	padding: 0;
	width: 200px;
	position: relative;
	user-select: none;
	// &::after {
	// 	$color: rgba(215, 57, 255, 0.671);
	// 	content: '';
	// 	position: absolute;
	// 	height: 100%;
	// 	width: 4px;
	// 	background-color: $color;
	// 	left: 185px;
	// 	top: 14px;
	// 	box-shadow: 1px 1px 8px 2px $color;
	// 	border-radius: 2px;
	// }
	// &::before {
	// 	$color: rgba(29, 153, 255, 0.671);
	// 	content: '';
	// 	position: absolute;
	// 	height: 100%;
	// 	width: 4px;
	// 	background-color: $color;
	// 	left: 185px;
	// 	top: 14px;
	// 	box-shadow: 1px 1px 8px 2px $color;
	// 	border-radius: 2px;
	// }
	::marker {
		color: transparent;
	}
	&-item {
		transition: font 0.2s;
		&-selected {
			//background: linear-gradient(45deg, transparent 5%, #ff013c 5%);
			border: {
				bottom: 3px solid #ffc400;
			}
			color: white;
			&:hover {
				@extend .menu-item-selected;
			}
			&::after {
				width: 3px;
				height: 100%;
				background-color: black;
			}
		}
		&-child {
			padding-left: 28px;
			padding-right: 0;
		}
		& > a {
			width: 100%;
			transition: none;
			color: inherit;
			&:link,
			&:visited,
			&:hover,
			&:active {
				color: inherit;
			}
		}
		cursor: pointer;
		padding: 0 20px;
		margin: 15px 20px;
		line-height: 40px;
		display: flex;
		&-title {
			margin-left: 11px;
			flex: auto;
		}
		&:hover {
			@include item-hover();
		}
	}
	&-submenu {
		padding: 0;
		&-item {
			@extend .menu-item;
			padding: 0;
			&-title {
				padding: 0 20px;
				display: flex;
				width: 100%;
				&:hover {
					@include item-hover();
				}
			}
			&:hover {
				color: white;
				box-shadow: none;
				font-size: inherit;
				// & > .menu-submenu-item-title {
				// 	border: {
				// 		bottom: 3px solid #ffdc69;
				// 	}
				// }
			}
			&:hover > &-title {
				font-size: 17px;
				& > &-arrow::after {
					background-color: white;
				}
			}
			& > &-title > &-arrow-open::after {
				transform: rotate(90deg);
			}
			&-arrow {
				color: black;
				//position: relative;
				display: flex;
				flex: none;
				top: 50%;
				height: 0;
				&::after {
					transition: all 0.3s;
					content: '';
					width: 9px;
					height: 2px;
					background: rgb(255, 255, 255);
					position: absolute;
					top: 75px;
					left: 25px;
				}
			}
			display: list-item;
		}
	}
}
