$hover-color: rgba(36, 223, 230, 0.767);
@mixin item-hover {
	//color: $hover-color;
	border: {
		radius: 10px;
		// left: 1px solid rgba(138, 138, 138, 0.315);
		// bottom: 1px solid rgba(138, 138, 138, 0.315);
		//top: 1px solid rgba(138, 138, 138, 0.315);
	}
	box-shadow: 2px 2px 1px 0px rgba(141, 141, 141, 0.39);
}
.menu {
	font-weight: 500;
	top: 20%;
	//margin-left: 50px;
	-webkit-user-select: none;
	user-select: none;
	padding: 0;
	width: 200px;
	position: fixed;
	user-select: none;
	::marker {
		color: transparent;
	}
	&-submenu {
		padding: 0;
	}
	&-item {
		&-selected {
			border: {
				radius: 10px;
			}

			box-shadow: 2px 2px 2px 2px gray !important;
		}
		&-child {
			padding-left: 28px;
			padding-right: 0;
		}
		& > a {
			width: 100%;
			transition: none;
			color: inherit;
			&:link,
			&:visited,
			&:hover,
			&:active {
				color: inherit;
			}
		}
		cursor: pointer;
		padding: 0 20px;
		margin: 15px 20px;
		height: auto;
		line-height: 40px;
		display: flex;
		&-title {
			margin-left: 11px;
			flex: auto;
		}
		&:hover {
			@include item-hover();
		}
	}
	&-submenu {
		&-item {
			@extend .menu-item;
			padding: 0;
			&-title {
				padding: 0 20px;
				display: flex;
				width: 100%;
				&:hover {
					@include item-hover();
				}
			}
			&:hover {
				color: initial;
				border: none;
				box-shadow: none;
			}
			&:hover > &-title > &-arrow::after {
				background-color: gray;
			}
			& > &-title > &-arrow-open::after {
				transform: rotate(90deg) translateX(19px);
			}
			&-arrow {
				&::after {
				}
				color: black;
				//position: relative;
				display: flex;
				flex: none;
				top: 50%;
				height: 0;
				&::after {
					transition: all 0.3s;
					content: '';
					width: 10px;
					height: 2px;
					background: black;
					position: absolute;
					transform: translateY(19px);
				}
			}
			display: list-item;
		}
	}
}
